

html{
  scroll-behavior: smooth;
}
body{
  background: #030C1A;
  background: #030129;
  color: #b3b3b3;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}
a, a:hover{
  text-decoration: none !important;
  color: #b3b3b3;
}
li{
  list-style: none;
}
section{
  border-top: 50px solid #ffffff00;
}
.customButton {
  line-height: 50px;
    height: 50px;
    text-align: center;
    width: 220px;
    cursor: pointer;
    color: #ffeae7 !important;
    transition: all 0.5s;
    position: relative;
    display: inline-block;
    margin-top: 30px !important;
}
.customButton:hover {
    color: #FF4F35 !important;
}
.customButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #FF4F35;
    transition: all 0.3s;
    z-index: -1;
}
.customButton:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.customButton::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid #FF4F35;
    transform: scale(1.2,1.2);
}
.customButton:hover::after {
    opacity: 1;
    transform: scale(1,1);
}



.custom-heading {
  position: relative;
  height: 100px;
  
  }
  .custom-heading::after {
      position: absolute;
      content: '';
      top: 60px;
      height: 2px;
      width: 0px;
      background: #FF4F35;
      transition: all .7s;
      
      }
  section:hover .custom-heading::after {
          position: absolute;
          content: '';
          width: 200px;
          background: #FF4F35;
          
          }
  .custom-heading-shadow{
      position: absolute;
      width: 100%;
      top: -15px;
      left: 10px;
  z-index: -9999;
  }
  .custom-heading h1{
      font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  transition: all .7s;
  }
  
  .custom-heading-shadow h1{
      color: #b3b3b31a;
  }

/* skill Section */
.MuiLinearProgress-barColorPrimary {
  background-color: #ff5035 !important;
}



.mainMenu{
  position: fixed;
  top: 0px;
  width: 100%;
  background: #ff5035d8;
  display: flex;
  justify-content: center;
  z-index: 1;
}
.onlyMobile{
  display: none;
}
.PcVersionNav{
  display: block;
}

.mainMenu ul{
  width: 100%;
  display: flex;
  justify-content: center;
}
.mainMenu ul li{
  list-style: none;
}
.mainMenu ul li a{
 color: #ffffff;
 padding: 10px 15px !important;
 display: inline-block;
}
.MuiDrawer-modal .MuiDrawer-paperAnchorLeft{
  background: #ff5035;
}

.MuiDrawer-modal .MuiDrawer-paperAnchorLeft li{
  list-style: none;
  padding: 10px;
}

.MuiDrawer-modal .MuiDrawer-paperAnchorLeft li a{
  color: #ffffff !important;
}

.banner{
  position: relative;
}
.bannerContent{
  height: 100vh;
  position: absolute;
  top: 0px; 
  padding-top: 13%;
  padding-left: 50px;
}
.bannerContent h1{
  font-size: 60px;
  line-height: 30px;
  margin-bottom: 0px !important;
}
.bannerContent h1 span{
  margin: 0px !important;
  padding: 0px !important;
}

/* About Me */
.aboutSec{ 
}
.aboutMePhoto{
  text-align: center;
  position: relative;
}
.aboutMePhoto::before{
  position: absolute;
  content: ' ' ;
  top: -20px;
  left: -20px;
  width: 50%;
  height: 50%;
  background: url(./Components/Image/footer-bg.png);
  animation: rotation 10s infinite linear;
  z-index: -1;
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
 }
 to {
     transform: rotate(359deg);
 }
}
.aboutPhoto{
  padding: 50px;
}
.aboutPhoto img{
  width: 100%;
}
.aboutMeContent{
  padding-top: 30px;
}
.aboutMeContent p{
  line-height: 30px;
}
/* Project Section*/
.singleProject{
  margin-top: -20px;
}
.projectLink{
  display: flex;
}
.projectLink h1{
  font-size: 18px;
  font-weight: 100;
  padding: 0px;
  margin: 0px;
}

.projectLink h1 i, .projectLink h1 span{
  color: #FF5035 !important;
}
.projectLink h1:nth-child(2){
  padding-left: 20px;
}
.projectContent{
  position: relative;
  height: 100%;
  border-left: 2px solid #FF5035;
  padding-left: 30px;
  padding-bottom: 20px;
  transition: all 0.3s;
}

.projectContent::before{
  position: absolute;
  content: '';
  top: 0;
  left: -10px;
  width: 17px;
  height: 17px;
  border: 1px solid #FF5035;
  background: #030129;
  animation: rotation 10s infinite linear;
  transition: all .5s;
}
.projectContent:hover::before{
  position: absolute;
  content: '';
  top: 0;
  left: -13px;
  width: 22px;
  height: 22px;
  border: 1px solid #FF5035;
  background: #030129;
  animation: rotation 10s infinite linear;
  border-radius: 50px;
  box-shadow: 0px 0px 20px #FF5035;
}
/* Blog Section */

.singleBlog{
  box-shadow: 0px 0px 8px 2px #0008;
  height: 100%;
}
.singleBlog img{
  width: 100%;
}
.blogContent{
  padding: 10px;
}
.singleBlog h1{
  margin: 0px !important;
  padding: 0px !important;
  font-size: 22px;
  font-weight: 400;
}

/* Contact Section */

.contactSec{


}
.contactSocial{
  width: 100%;
  box-shadow: 0px 0px 8px 2px #0008;
}

.contactSocial ul{
  padding: 20px 0px !important;
  margin: 0px !important;
	display: flex;
	justify-content: space-around;

}

.contactSocial ul li a{
  text-align: center;
	font-size: 25px;
	color: #FF4F35;
	width: 60px;
	height: 60px;
	border: 1px solid #FF4F35;
	display: inline-block;
	line-height: 60px;
	transition: 1s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
}
.contactSocial ul li:hover  a{
background: #FF4F35;
color: #030129;
}



.contactContent{
width: 100%;
height: 100%;
	box-shadow: 0px 0px 8px 2px #0008;
  padding: 50px 0px 50px 20px;
  box-sizing: border-box;

}
.contactContent h1{
  margin: 0px !important;
}
.contactContent h2{
  font-size: 20px !important;
   margin: 0px !important;
  padding: 0px !important;
  margin-top: 25px !important;
  
}
.contactContent h2 span{
  display: inline-block;
  box-shadow: 0px 0px 8px 2px #0008;
  padding: 6px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50px;
  margin-right: 6px;
  background:  #FF4F35;
  
} 
.contactContent h2 span i{
  font-size: 20px !important;
   margin: 0px !important;
  padding: 0px !important;
  padding: 10px;
  padding-right: 20px;
  color: #030129;
  
} 
.contactInfo{
padding-left: 45px;
}
.contactInfo p{
  margin: 0px !important;
  padding: 0px !important;
  }
.contactContent img{
	height: 150px;
  width: 150px;
  object-fit: cover;
  object-position: top center;
	border-radius: 100%;
	margin-bottom: 20px;
}

.contact-form{
  width: 100%;
	box-shadow: 0px 0px 8px 2px #0008;
 
}
.contact-form form{
  padding: 50px 30px;
}
.contact-form input, select, textarea{
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  height: 50px;
  color: #ffffff;
  border-bottom: 1px solid #FF4F35;
  margin-bottom: 20px;
}
.contact-form textarea{
  height: 100px;
}
.submitButton{
  line-height: 50px;
  height: 50px !important;
  text-align: center;
  width: 220px !important;
  cursor: pointer;
  color: #ffeae7 !important;
  transition: all 0.5s;
  position: relative;
  display: inline-block;
  margin-top: 10px !important;
  background: #FF4F35 !important;
  border: 1px solid #FF4F35 !important;
  font-size: 16px;
}

.submitButton:hover {
  color: #FF4F35 !important;
  background: #ff503500 !important;
  transform: scale(1,1);
}


















::placeholder{
  color: #777777 !important;
}

.copyRight{
  text-align: center;
  padding: 20px;
  box-shadow: 0px 0px 8px 2px #0008;
}