/* xs: 0,
      sm: 600,
      md: 960,
      lg: 1280,
      xl: 1920, */



    
@media (max-width: 960px){
    
    .bannerContent{
        height: 600px !important;
        position: absolute;
        top: 0px; 
        padding-left: 50px;
        padding-top: 25%;
      }
      #tsparticles{
        height: 600px !important;
      }
      .tsparticles-canvas-el{
        height: 600px !important;
      }
      .bannerContent h1{
        font-size: 40px;
      }
      .aboutPhoto{
          padding: 0px;
        padding-top: 80px;
      }
  }      
  
  @media (max-width: 600px){
    .custom-heading {
      height: 70px;
      
      }
      .custom-heading::after {
          top: 40px;
          width: 180px;
          background: #FF4F35;
          transition: all .7s;
          
          }
      section:hover .custom-heading::after {
              width: 180px;
              }
      .custom-heading-shadow{
          top: -10px;
      }
      .custom-heading h1{
          font-size: 28px;
      }
      
    .mainMenu{
      justify-content: space-between;
    }
    .PcVersionNav{
      display: none;
    }
    .onlyMobile{
      padding: 10px 15px !important;
      display: block;
    }
    .bannerContent{
        height: 500px !important;
        position: absolute;
        top: 0px; 
        padding-left: 0px;
        padding-top: 35%;
      }
      #tsparticles{
        height: 500px !important;
      }
      .tsparticles-canvas-el{
        height: 500px !important;
      }
    
    .bannerContent h1{
        font-size: 25px;
        line-height: 20px;
        margin-bottom: 0px !important;
      }

      .contactSocial ul li a{
        font-size: 20px;
        width: 40px;
        height: 40px;
        line-height: 40px;
      }
  }   